<footer class="page-footer font-small bg-rodape pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
           <ul class="social-network"> 
               <li>
                   <a href="https://www.facebook.com/israel.dantas.73" target="_blank" class="icoFacebook">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
               </li>

               <li>
                <a href="https://www.instagram.com/israel_dantas97/" target="_blank" class="icoInstagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
             </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/israel-dantas-gerente/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
             </a>
            </li>

           </ul> 
        </div>
    </div>
</div>

<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-white"> © 2021 Copyright:  </span>
    <a class="text-light" target="_blank" href="http://api.whatsapp.com/send?phone=5511991764413">Israel Dantas da Silva</a>

</div>


</footer>
