ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa {
    font-size: 35pt;
    color: black;
    padding: 10px;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram:hover {
  color: #c13584  
}

.fa-linkedin:hover {
    color: #007bb6
}

.bg-rodape {
    
    background-image: linear-gradient(#ffff, #70E09C, #2C9E5A, #156149 ) ;
}

